(
    device: (
        orientation: Normal,
        rows: 1,
        cols: 3,
        knobs: 1,
    ),
    layers: [
        (
            buttons: [
                [(delay: 0, mapping: "ctrl-a,ctrl-s"), (delay: 0, mapping: "b"), (delay: 0, mapping: "c")],
            ],
            knobs: [
                (ccw: (delay: 0, mapping: "volumedown"), press: (delay: 0, mapping: "mute"), cw: (delay: 0, mapping: "volumeup")),
            ],
        ),
        (
            buttons: [
                [(delay: 0, mapping: "click"), (delay: 0, mapping: "rclick"), (delay: 0, mapping: "mclick")],
            ],
            knobs: [
                (ccw: (delay: 0, mapping: "2"), press: (delay: 0, mapping: "2"), cw: (delay: 0, mapping: "2")),
            ],
        ),
        (
            buttons: [
                [(delay: 0, mapping: "ctrl-m"), (delay: 0, mapping: "ctrl-slash"), (delay: 0, mapping: "space")],
            ],
            knobs: [
                (ccw: (delay: 0, mapping: "3"), press: (delay: 0, mapping: "3"), cw: (delay: 0, mapping: "3")),
            ],
        ),
    ],
)